* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #020a18;
}

.header {
  margin-bottom: 160px;
}

.header_link {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 40px 16px;
}

.header_link:hover {
  color: #0941a1;
}

.container {
  margin: 0 auto;
  width: 1147px;
}

.nav {
  display: flex;
  justify-content: center;
}

.main .container {
  margin-bottom: 197px;
  display: flex;
  justify-content: space-between;
}

.main_left,
.main_right {
  width: 47%;
}

.main_subtitle {
  margin-bottom: 10px;
  color: #3a68b8;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}

.main_title {
  margin-bottom: 40px;
  color: #fff;
  font-family: sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

.main_text {
  margin-bottom: 50px;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
}

.main_button {
  margin-right: 20px;
  border-radius: 5px;
  background: #3a68b8;
  padding: 1rem 2rem;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo .container {
  margin-bottom: 157px;
  display: flex;
  justify-content: space-around;
}

.content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 264px;
}

.content_left,
.content_right {
  width: 47%;
}

.content_left {
  margin-right: 68px;
}

.content_title {
  margin-bottom: 30px;
  color: #fff;
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.content_text {
  margin-bottom: 50px;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
}

.content_button {
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: #3a68b8;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content_dalle {
  margin-bottom: 243px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 362px);
  justify-content: center;
}

.dalle {
  border-radius: 10px;
  background: #132035;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.dalle_big {
  border-radius: 10px;
  background: #132035;
  padding: 30px;
  grid-column: span 2;
  grid-row: span 2;
  gap: 60px;
}

.dalle_img {
  width: 98px;
  height: 103px;
  flex-shrink: 0;
}

.dalle_big_img {
  width: 306px;
  height: 322px;
  flex-shrink: 0;
}

.dalle_subtitle {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
}

.dalle_big_subtitle {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
}

.dalle_text {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
}

.dalle_big_text {
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
}
